@using PowerPipes.Models
@model Training

@section Styles {
    <link href="@Url.Content("~/Content/Training.css")" rel="stylesheet" type="text/css" />
}

<div class="jumbotron">
    <h2>
        <span class="title">Détails d'un entraînement</span>
    </h2>
</div>